<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Form Basic</h4>
                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Library
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Personal Info</h4>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact No</th>
                                <th>Gender</th>
                                <th>Message</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <% var i=1 %>
                            <% for(var key of data){ %>
                                <tbody>
                                    <tr>
                                        <td>
                                            <%= i %>
                                        </td>
                                        <td>
                                            <%= key.name %>
                                        </td>
                                        <td>
                                            <%= key.email %>
                                        </td>
                                        <td>
                                            <%= key.number %>
                                        </td>
                                        <td>
                                            <%= key.gender %>
                                        </td>
                                        <td>
                                            <%= key.message %>
                                        </td>
                                        <td>
                                            <a href="/admin/removeData/<%= key.id %>"
                                                class="btn btn-danger btn-sm">Remove</a>
                                            <a href="/admin/updateData/<%= key.id %>"
                                                class="btn btn-dark btn-sm">Update</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <% i++} %>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- editor -->
  
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>